@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* Navbar */
.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 50px;
}

.menu ul {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1c1c1c), color-stop(#181818), color-stop(#141414), color-stop(#0f0f0f), color-stop(#090909), color-stop(#0f0f0f), color-stop(#141414), color-stop(#181818), to(#1c1c1c));
  background-image: linear-gradient(to right bottom, #1c1c1c, #181818, #141414, #0f0f0f, #090909, #0f0f0f, #141414, #181818, #1c1c1c);
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  list-style-type: none;
}

.menu ul li {
  padding-top: 2px;
}

.menu ul li a {
  font-family: 'Sanchez', serif;
  font-weight: bold;
  text-decoration: none;
  color: whitesmoke;
}

.menu ul li a:hover {
  color: gold;
}

@media (max-width: 767px) {
  .menu ul {
    padding-top: 5px;
  }
  .menu ul li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 425px) {
  .menu ul {
    padding-top: 5px;
  }
  .menu ul li a {
    font-size: 0.6rem;
  }
}

@media (max-width: 350px) {
  .menu ul {
    padding-top: 5px;
  }
  .menu ul li a {
    font-size: 0.5rem;
  }
}

/* Header */
.portada {
  background-image: url(../recursos/fondo/pexels-camille-stae-2293507.jpg);
}

.contenedor__titular {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.portada__titular {
  font-family: 'Sanchez', serif;
  color: white;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  font-size: 8vw;
}

.portada__titular__sec {
  font-family: 'Sanchez', serif;
  font-weight: bold;
  text-align: center;
  text-shadow: 2px 2px 2px black;
  color: white;
  font-size: 6.5vw;
  padding-bottom: 30px;
  margin-bottom: 0;
}

/* Main */
.portada__mainFondo {
  background-image: url(../recursos/fondo/dark-honeycomb.png);
  background-attachment: fixed;
  padding-bottom: 20px;
}

.portada__contenedor__texto {
  margin: 0 auto;
  width: 70vw;
  padding: 30px;
}

.portada__texto__principal {
  color: whitesmoke;
  font-family: 'Sanchez', serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px black;
  text-align: justify;
  line-height: 40px;
}

.main__titular {
  font-family: 'Sanchez', serif;
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 5px;
  font-size: 3rem;
}

.main__texto__secundario {
  color: whitesmoke;
  font-family: 'Sanchez', serif;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 30px;
}

@media (max-width: 767px) {
  .main__titular {
    font-size: 1.2rem;
  }
}

@media (max-width: 425px) {
  .portada__texto__principal {
    font-size: 0.7rem;
    line-height: 20px;
  }
}

/* Footer */
.pie {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#1c1c1c), color-stop(#181818), color-stop(#141414), color-stop(#0f0f0f), color-stop(#090909), color-stop(#0f0f0f), color-stop(#141414), color-stop(#181818), to(#1c1c1c));
  background-image: linear-gradient(to right bottom, #1c1c1c, #181818, #141414, #0f0f0f, #090909, #0f0f0f, #141414, #181818, #1c1c1c);
  height: 10vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie__imagenes {
  height: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pie__icono--face {
  width: auto;
  height: 80%;
  padding-right: 5px;
}

.pie__icono--insta {
  width: auto;
  height: 80%;
  padding-right: 5px;
}

.copyRight {
  color: whitesmoke;
  font-family: 'Sanchez', serif;
  font-size: 0.9rem;
}

@media (max-width: 767px) {
  .copyRight {
    font-size: 0.6rem;
  }
}

@media (max-width: 425px) {
  .pie__icono--face, .pie__icono--insta {
    width: auto;
    height: 60%;
    padding-right: 2px;
  }
  .copyRight {
    font-size: 0.5rem;
  }
}

/* HOME */
.portada__home {
  background-image: url(../recursos/fondo/pexels-camille-stae-2293507.jpg);
  height: 100vh;
  width: 100%;
}

.portada__slogan {
  padding-top: 50px;
  color: whitesmoke;
  font-family: 'Sanchez', serif;
  font-size: 2.5rem;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  font-style: italic;
}

.contenedor__titular--home {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#portada__imagen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 30px;
}

.portada__imagen--img {
  margin: 30px auto;
  width: 80vw;
  height: auto;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

@media (max-width: 767px) {
  .portada__slogan {
    font-size: 1.8rem;
  }
}

/* CONOCENOS */
#conocenosFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 90vw;
  margin: 0 auto;
  padding: 30px;
}

.main__imagen {
  width: 49%;
  height: auto;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

.main__imagen--event {
  display: block;
  width: 80vw;
  height: auto;
  margin: 30px auto;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

.portada__lista--texto {
  padding-left: 50px;
  color: whitesmoke;
  font-family: 'Sanchez', serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px black;
  text-align: justify;
  line-height: 50px;
}

@media (max-width: 425px) {
  .portada__lista--texto {
    font-size: 0.7rem;
    line-height: 20px;
    padding-left: 30px;
  }
}

/* BODAS Y CUMPLEAÑOS */
#flex1 {
  width: 100vw;
  height: 50vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__boda__imagen {
  width: 25vw;
  height: auto;
  border: 5px solid black;
  -webkit-transition: all 2s;
  transition: all 2s;
}

.main__boda__imagen:hover {
  width: 28vw;
  height: auto;
}

#grid2 {
  width: 100vw;
  padding-top: 20px;
  display: -ms-grid;
  display: grid;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  row-gap: 10px;
  -ms-grid-columns: 1fr 6fr 6fr 1fr;
      grid-template-columns: 1fr 6fr 6fr 1fr;
      grid-template-areas: ".... imagen1 imagen2 ...." ".... imagen3 imagen3 ....";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main__cumple__imagen1 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: imagen1;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

.main__cumple__imagen2 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: imagen2;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

.main__cumple__imagen3 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: imagen3;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

@media (max-width: 767px) {
  #flex1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .main__boda__imagen {
    width: 70vw;
  }
  .main__boda__imagen:hover {
    width: 80vw;
    height: auto;
  }
}

/* EVENTOS */
#eventosFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: auto;
}

.eventosFlex__cont {
  margin: 30px;
  width: 70vw;
  height: auto;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

.eventosFlex__cont:hover img {
  -webkit-filter: blur(2px) grayscale(1);
          filter: blur(2px) grayscale(1);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.eventosFlex__cont::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.eventosFlex__cont:hover:before {
  background: rgba(0, 0, 0, 0.7);
  z-index: 10;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.eventosFlex__imagen {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 10px 7px 20px 0px black;
          box-shadow: 10px 7px 20px 0px black;
}

.eventosFlex__textos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: whitesmoke;
  text-shadow: 2px 2px 2px black;
  font-family: 'Sanchez', serif;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 20;
}

.eventosFlex__titulo {
  margin: 10px;
  padding: 10px;
  text-align: center;
  position: relative;
  bottom: 100%;
  font-size: 2rem;
}

.eventosFlex__cont:hover .eventosFlex__titulo {
  bottom: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

@media (max-width: 425px) {
  .eventosFlex__titulo {
    font-size: 1rem;
  }
}

/* CONTACTO */
.portada__mainFondo--contacto {
  background-image: url(../recursos/fondo/pexels-tejas-prajapati-586744.jpg);
  top: 0;
  left: 0;
  height: 100%;
  background-size: 100%;
  background-position: top;
  background-attachment: fixed;
}

.formulario {
  font-family: 'Sanchez', serif;
  font-weight: 400;
  color: whitesmoke;
  text-shadow: black 2px 2px 2px;
  width: 50vw;
  margin-left: 25%;
  padding-bottom: 50px;
}

.portada__texto__principal--cont {
  color: whitesmoke;
  font-family: 'Sanchez', serif;
  font-size: 1.2rem;
  text-shadow: 2px 2px 2px black;
  text-align: center;
  line-height: 40px;
}

.formulario__main {
  padding-top: 30px;
}

.btn-dark:hover {
  color: whitesmoke;
  background-color: rgba(29, 29, 29, 0.89);
  -webkit-box-shadow: 2px 2px 10px 5px gold;
          box-shadow: 2px 2px 10px 5px gold;
}

@media (max-width: 425px) {
  .portada__texto__principal--cont {
    font-size: 0.7rem;
    line-height: 20px;
  }
}
/*# sourceMappingURL=styles.css.map */