/* CONOCENOS */

#conocenosFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 90vw;
    margin: 0 auto;
    padding: 30px;
}


.main__imagen {
    width: 49%;
    height: auto;
    box-shadow: $box-shadow;
    
}


.main__imagen--event {
    display: block;
    width: 80vw;
    height: auto;
    margin: 30px auto;
    box-shadow: $box-shadow;
}


.portada__lista--texto {
    padding-left: 50px;
    color: $whiteSmoke;
    font-family: 'Sanchez', serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px black;
    text-align: justify;
    line-height: 50px;
   
}


@media (max-width: $mob-l) {
    .portada__lista--texto {
        font-size: 0.7rem;
        line-height: 20px;
        padding-left: 30px;
    }
}
