/* CONOCENOS */

#conocenosFlex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
    margin: 0 auto;
    padding: 30px;
}

.main__imagen--boda {
    width: 50%;
    height: auto;
   
        
}



.main__imagen--cumple {
    width: 50%;
    height: auto;
    
}


.main__imagen--event {
    display: block;
    width: 80vw;
    height: auto;
    margin: 30px auto;
}

.portada__contenedor__texto--conocenos {
    margin: 0 auto;
    width: 80vw;
    padding: 30px;
    
    
}

.portada__lista {
    margin: 0 auto;
    line-height: 40px;
    
}