/* EVENTOS */


#eventosFlex {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: auto;
    
}

.eventosFlex__cont {
    
    margin: 30px;
    width: 70vw;
    height: auto;
    overflow: hidden;
    position: relative;
    box-shadow: $box-shadow;
    &:hover {
        img {
            filter: blur(2px) grayscale(1);
            transform: scale(1.1);
            transition: all 0.4s; 
        }
    }
    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: all 0.4s;
    }
    &:hover:before {
        background: rgba(0, 0, 0, 0.7);
        z-index: 10;
        transition: all 0.4s;
    }
}

.eventosFlex__imagen {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    box-shadow: $box-shadow;
    
}


.eventosFlex__textos {
    display: flex;
    flex-direction: column;
    color: $whiteSmoke;
    text-shadow: 2px 2px 2px black;
    font-family: 'Sanchez', serif;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    
}


.eventosFlex__titulo {
    margin: 10px;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 100%;
    font-size: 2rem;
}

.eventosFlex__cont {
    &:hover .eventosFlex__titulo {
        bottom: 0;
        transition: all 0.5s;
    }
}

@media (max-width: $mob-l) {
    .eventosFlex__titulo {
        font-size: 1rem;
    }
}

