/* Footer */
.pie {
    background-image: $bg-barra;
    height: 10vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    }
.pie__imagenes {
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.pie__icono--face {
    width: auto;
    height: 80%;
    padding-right: 5px;
    
}

.pie__icono--insta {
    width: auto;
    height: 80%;
    padding-right: 5px;
    

}

.copyRight {
    color: $whiteSmoke;
    font-family: 'Sanchez', serif;
    font-size: 0.9rem;
}

@media (max-width: $tablet) {
    .copyRight {
        font-size: 0.6rem;
        
    }
}


@media (max-width: $mob-l) {
    .pie__icono--face, .pie__icono--insta {
        width: auto;
        height: 60%;
        padding-right: 2px;
    }

    .copyRight {
        font-size: 0.5rem;
        
    }
}
