/* HOME */

.portada__home {
    background-image: url(../recursos/fondo/pexels-camille-stae-2293507.jpg);
    height: 100vh;
    width: 100%;
    
}

.contenedor__titular--home {
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 2%;
}

#portada__imagen {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;

}
 
.portada__imagen--img {
    margin: 30px auto;
    width: 80vw;
    height: auto;
    
} 