/* HOME */

.portada__home {
    background-image: url(../recursos/fondo/pexels-camille-stae-2293507.jpg);
    height: 100vh;
    width: 100%;
    
}

.portada__slogan {
    padding-top: 50px;
    color: $whiteSmoke;
    font-family: 'Sanchez', serif;
    font-size: 2.5rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    font-style: italic;
}




.contenedor__titular--home {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    
}

#portada__imagen {
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    
}

.portada__imagen--img {
    margin: 30px auto;
    width: 80vw;
    height: auto;
    box-shadow: $box-shadow;
    
} 

@media (max-width: $tablet) {
    .portada__slogan {
        font-size: 1.8rem;
    }
}