/* Main */
.portada__mainFondo {
    background-image: url(../recursos/fondo/dark-honeycomb.png);
    padding-bottom: 20px;
}


.portada__texto__principal {
    color: whitesmoke;
    font-family: 'Sanchez', serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px black;
    text-align: center;
    line-height: 40px;
}



.main__titular {
    font-family: 'Sanchez', serif;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 3rem;
}
.main__texto__secundario {
    color: whitesmoke;
    font-family: 'Sanchez', serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}


@media (max-width: 767px) {
    .main__titular {
        font-size: 2rem;
    }
}

@media (max-width: 425px) {
    .portada__texto__principal {
        font-size: 0.9rem;
        line-height: 30px;
    }
}

