/* Main */
.portada__mainFondo {
    background-image: url(../recursos/fondo/dark-honeycomb.png);
    background-attachment: fixed;
    padding-bottom: 20px;
}


.portada__contenedor__texto {
    margin: 0 auto;
    width: 70vw;
    padding: 30px;  
}


.portada__texto__principal {
    color: $whiteSmoke;
    font-family: 'Sanchez', serif;
    font-size: 1.2rem;
    text-shadow: 2px 2px 2px black;
    text-align: justify;
    line-height: 40px;
}



.main__titular {
    font-family: 'Sanchez', serif;
    color: white;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 3rem;
}
.main__texto__secundario {
    color: whitesmoke;
    font-family: 'Sanchez', serif;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 30px;
}


@media (max-width: $tablet) {
    .main__titular {
        font-size: 1.2rem;
    }
}

@media (max-width: $mob-l) {
    .portada__texto__principal {
        font-size: 0.7rem;
        line-height: 20px;
    }
}



