/* Navbar */
.menu {
    position: sticky;
    top: 0;
    z-index: 9999;
    height: 50px;
    ul {
        background-image: $bg-barra;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        list-style-type: none;
        li {
            padding-top: 2px;
            a {
                font-family: 'Sanchez', serif;
                font-weight: bold;
                text-decoration: none;
                color: $whiteSmoke;
                
                &:hover {
                    color: gold;
                }
                
            }
        }
    }
}

@media (max-width: $tablet) {
    .menu {
        ul {
            padding-top: 5px;
            li {
                a {
                    font-size: 0.8rem;
                }
            }
        }
    }
}

@media (max-width: $mob-l) {
    .menu {
        ul {
            padding-top: 5px;
            li {
                a {
                    font-size: 0.6rem;
                }
            }
        }
    }
}



@media (max-width: $mob-m) {
    .menu {
        ul {
            padding-top: 5px;
            li {
                a {
                    font-size: 0.5rem;
                }
            }
        }
    }
}