/* Variables */

$box-shadow: 10px 7px 20px 0px black;

$bg-barra: linear-gradient(to right bottom, #1c1c1c, #181818, #141414, #0f0f0f, #090909, #0f0f0f, #141414, #181818, #1c1c1c);

$whiteSmoke: whitesmoke;


$tablet: 767px;
$mob-l: 425px;
$mob-m: 350px;